html, body {
background-color: rgb(39, 134, 146);
background-image:url(mantenimiento.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100%;
}

.contenedor {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}

.text {
color: bisque;
text-align: center;
animation: animacion 2s infinite;
}


@keyframes animacion {

    0% {
        opacity: 0;
        transform: translateX(0px);
      }
      50% {
        opacity: 1;
        transform: translateX(0);
      }
      100% {
        opacity: 0;
        transform: translateX(0px);
      }

}

.imagen-pocicionada {

position: absolute;
top: 80%;
left: 7%;
transform: translate(-50%, -50%);
width: 200px;
}